<!DOCTYPE html>
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title rodrigobr92
		link(rel="stylesheet", href="css/style.css")
	body
		header.main-header 
			h1 Rodrigo Lima Batista
		nav.menu
			ul 
				li: a(href="#") Informações
					i.icon.icon-home
				li: a(href="#") Objetivo
				li: a(href="#") Experiência
				li: a(href="#") Educação
				li: a(href="#") Idiomas
				li: a(href="#") Linguagens
				li: a(href="#") Ferramentas
				li: a(href="#") Contato


		script(src="js/script.js")